
.change{
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
  font-size: 17px;
}
.box{
  margin:20px
}
.btn{
  margin: 10px;
  font-size: 15px;
}
.btn:hover{
  border-color: rgba(255,255,255,1);
}
.txt{
  font-size: 20px;
}
table, th, td {
  width:200px;
  margin: 15px 0 0px 40%;
  border: 2px solid red;
  padding:10px;
  text-align: center;
  font-size: 25px;
}