
.change{
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
  font-size: 17px;
}
.box{
  margin:20px
}
.btn{
  margin: 10px;
  font-size: 15px;
}
.btn:hover{
  border-color: rgba(255,255,255,1);
}
.txt {
  font-size: 20px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #E5CE8C;}

table tr:hover {background-color: #92DAE8;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.searchBar{
  text-align: right;
  position: center;
  padding-right: 5%;

}
.searchInp{
  font-size: 20px;


}
.searchBtn:hover{
  background: darkturquoise;

}
.searchBtn{
margin-top: 20px;
  height:30px
}
.searchIcon {
  height:10px;
  width:20px;
}